/*div {
    border-style: solid;
}*/
#container {
    text-align: center;
    width: 1000px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
}
.small-img {
    width: 100px;
}
.large-img {
    width: 200px;
}
#words, #top, #story {
    border-style: solid;
    padding: 30px 30px 30px;
}
#words .col {
    display: inline-block;
    position: relative;
    width: 30%;
}
#words .choices input {
    border-style: solid;
    padding: 10px 10px 10px;
    margin: 10px 10px 10px;
}
#words button {
    margin-left: 500px;
    margin-top: 50px;
    padding: 10px 10px 10px;
}
.response {
    color: #009900;
    font-weight: bold;
}